fastapi==0.135.2
uvicorn==0.42.0
sqlalchemy==2.0.48
python-jose[cryptography]==3.5.0
passlib[bcrypt]==1.7.4
pydantic[email]==2.12.5
python-multipart==0.0.22
python-dotenv==1.2.2
email-validator==2.3.0
